Flask>=2.2
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Migrate==3.0.0
Flask-SQLAlchemy==3.0.0
gunicorn==20.1.0
bcrypt>=3.1.1
alembic>=0.7
SQLAlchemy>=1.4.18
itsdangerous>=2.0
importlib-metadata>=3.6.0; python_version < "3.10"
Werkzeug>=2.0
Jinja2>=3.0
click>=8.0
importlib-resources; python_version < "3.9"
typing-extensions>=4
Mako
greenlet!=0.4.17; platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32"
zipp>=0.5
MarkupSafe>=2.1.1
psycopg2-binary>=2.9.1
